<h1>Todos os Clientes</h1>

<%= link_to 'Cadastrar Novo', clients_new_path %>
<table>
  <tr>
    <th>Nome</th>
    <th>Endereço</th>
    <th>Telefone</th>
    <th>CPF</th>
    <th>Ver Locações</th>
    <th>Alterar</th>
    <th>Apagar</th>
  </tr>
  <% @clients.each do |client|%>
    <tr>
    <td><%= client.name %></td>
    <td><%= client.address %></td>
    <td><%= client.phone %></td>
    <td><%= client.cpf %></td>
    <td><%= link_to image_tag('icon_view.png'), clients_show_path(client.id) %></td>
    <td><%= link_to image_tag('icon_edit.png'), clients_edit_path(client.id) %></td>
    <td><%= link_to image_tag('icon_trash.png'), clients_destroy_path(client.id), data: {confirm: "Esta ação não poderá mais ser desfeita. Tem certeza que deseja continuar?"} %></td>
    </tr>
  <% end %>
</table>